[Unit]
Description=Hummingbird experiment analyser
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.6 /opt/hummingbird/hummingbird.py -b /opt/hummingbird/examples/basic/dummy.py

[Install]
WantedBy=multi-user.target